 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

ipucachekey/
model.onnx
model_quantized.onnx
ort_config.json
voe-0.1.0-cp39-cp39-win_amd64.whl

# Distribution / packaging
lib/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
